{% extends "base.html" %}

{% block body %}
<div class="index">
    <h1>About Qupiya</h1>
    <h2>What on the Earth is qupiya?</h2>
    <p>Qupiya is an open-source Password Manager project.</p>
    <p>It was created using Flask + Jinja templating system.</p>

    <h2>Features:</h2>
    <ul>
        <li>✨ Custom URL token</li>
        <li>🙀 Random password Generator</li>
        <li>🔐 Goddamn safety</li>
        <li>🚀 Profile Page</li>
    </ul>

    <h2>Plans:</h2>
    <ul>
        <li>Passwords Import</li>
        <li>Records Log</li>
        <li>Represent a Table of Passwords</li>
    </ul>

    <h2>Do I need to Register?</h2>
    <p>Yep. Logging in is essential part for password managers,</p>
    <p>as they need to know whose credentials they're managing.</p>
</div>
{% endblock %}
