{% extends "base.html" %}

{% block body %}
<div class="index">
    <h1>{{ _("About Qupiya") }}</h1>
    <h2>{{ _("What on the Earth is qupiya?") }}</h2>
    <p>{{ _("Qupiya is an open-source Password Manager project.") }}</p>
    <p>{{ _("It was created using Flask + Jinja templating system.") }}</p>

    <h2>{{ _("Features:") }}</h2>
    <ul>
        <li>🙀 {{ _("Random password Generator") }}</li>
        <li>🔐 {{ _("Goddamn safety") }}</li>
        <li>🚀 {{ _("Profile Page") }}</li>
    </ul>

    <h2>{{ _("Plans:") }}</h2>
    <ul>
        <li>{{ _("Passwords Import") }}</li>
        <li>{{ _("Passwords Export") }}</li>
        <li>{{ _("2-Factor Authentication") }}</li>
        <li>{{ _("Represent a Table of Passwords") }}</li>
    </ul>

    <h2>{{ _("Do I need to Register?") }}</h2>
    <p>{{ _("Yep. Logging in is essential part for password managers,") }}</p>
    <p>{{ _("as they need to know whose credentials they're managing.") }}</p>
</div>
{% endblock %}
